body {
  background-color: #232323;
}

h1 {
  color: white;
}



.square {
  width: 30%;
  background: purple;
  margin: 1.66%;
  padding-bottom: 30%;
  float: left;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}

#stripe {
  height: 30px;
  background-color: #fff;
  text-align: center;
  color: #000
}